---
import { storyblokEditable, useStoryblokApi } from "@storyblok/astro";
import ArticleCard from "../components/ArticleCard.astro";
import isPreview from "../utils/isPreview";
const { blok, language } = Astro.props;
const storyblokApi = useStoryblokApi();
// 1️⃣ Request multiple stories
const { data } = await storyblokApi.get(`cdn/stories`, {
  version: isPreview() ? "draft" : "published",
  starts_with: "blog/", // 2️⃣ Tell API to deliver stories in Blog folder
  is_startpage: false, // 3️⃣ Exclude Blog Home story
  language,
});

const articles = data.stories;
---

<section class="mx-6 my-12" {...storyblokEditable(blok)}>
  <h2 class="text-6xl text-[#50b0ae] font-bold text-center mb-12">
    {blok.headline}
  </h2>
  <ul class="grid grid-cols-1 gap-6 md:grid-cols-3">
    {
      articles?.length &&
        articles.map((article) => {
          article.content.slug = article.slug;
          return (
            <li>
              <ArticleCard language={language} article={article.content} />
            </li>
          );
        })
    }
  </ul>
</section>
